#signUpForm-container {
    background-color: greenyellow;
    margin: 5px;
    padding: 5px;
    color: black;
    font-size: large;
    margin: 10px;
    width: 60%;
    min-width: 300px;
    max-width: 500px;
    height: 350px;
}
#signup-form {
    padding: 10px;
}
#signUp-head {
    font-weight: bold;
    font-size: xx-large;
    padding: 5px;
}
.form-text {
    margin: 5px 0  5px 0;
}

